table {
    margin: 0 auto;
}

td {
    border: 2px solid blue;
    width: 30px;
    height: 30px;
    text-align: center;
}

.highlight {
    background-color: lightgrey;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* not used */

.dot#player1 {
    background-color: lightcoral;
}

.dot#player2 {
    background-color: lightskyblue;
}