body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

table {
    width: 75%;
    margin: auto;
}

td {
    border: 3px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.highlight {
    background-color: lightgrey;
}

.dot {
    height: 90%;
    width: 90%;
    position: absolute;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    pointer-events: none;
    margin: 0 auto;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.discdiv {
    width: 30px;
    height: 30px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.playernamediv {
    width: 35%;
    height: 60px;
}

.playername {
    height: 100%;
    font-size: 4vh;
    margin-left: 35px;
    margin-right: 35px;
}


/* not used */

.dot#player1 {
    background-color: lightcoral;
}

.dot#player2 {
    background-color: lightskyblue;
}